* {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	display: block;
	color: #fff;
}

li {
	list-style: none;
}

body,
html {
	font-family: "Roboto Flex", sans-serif;
	font-optical-sizing: auto;
	background: url("../img/bg.png");
	background-size: 100%;
	background-position: center;
}

#main {
	width: 100%;
	overflow: hidden;
	position: relative;
	padding: 40px 0px;
	box-sizing: border-box;
}

/* 메인 warp이 여기서 부터임 */
#movie {
	width: 1420px;
	margin: 0px auto;
	background: #2f2f2f;
	border-radius: 25px;
	position: relative;
	overflow: hidden;
}

/* 헤더는 여기서 부터임 */
header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	padding: 35px 40px;
	box-sizing: border-box;
	left: 0px;
	top: 0px;
	border-radius: 25px 25px 0px 0px;
	z-index: 99;
}

/* 헤더 가장왼쪽에 있는 로고 부분임 */
#logo a {
	display: block;
}

#logo img {
	display: block;
}

/* 헤더 가운데 위치한 네비게이션바임 */
#movie header nav {
	width: 650px;
}

#movie header nav ul {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	font-weight: bold;
}

#movie header nav ul li {
	display: block;
	transition: 0.25s;
	cursor: pointer;
	color: #fff;
	font-size: 22px;
}

#movie header nav ul li:hover {
	color: rgb(128, 4, 4);
}

/* 헤더 가장 오른쪽에 위치한 메뉴버튼임 */
#menu {
	width: 40px;
	height: 25px;
	cursor: pointer;
}

#menu ul {
	width: 100%;
	height: 100%;
	position: relative;
}

#menu ul li:nth-of-type(1) {
	width: 100%;
	height: 5px;
	background: #fff;
	transition: 0.3s;
	position: absolute;
	right: 0px;
	top: 0px;
	transition: 1s;
}

#menu ul li:nth-of-type(2) {
	width: 100%;
	height: 5px;
	background: #fff;
	transition: 0.3s;
	position: absolute;
	right: 0px;
	bottom: 0px;
}

/* 메뉴버튼 호버 시 발생하는 애니메이션 */
#menu:hover ul {
	width: 100%;
	height: 100%;
	position: relative;
}

#menu:hover ul li:nth-of-type(1) {
	position: absolute;
	right: 0%;
	top: 0%;
	animation: action1 1s ease-in-out forwards;
	width: 40px;
	transition: 1s;
}

#menu:hover ul li:nth-of-type(2) {
	position: absolute;
	right: 0%;
	bottom: 0%;
	animation: action2 0.6s ease-in-out forwards;
	width: 40px;
	transition: 1s;
}

@keyframes action1 {
	0% {
		width: 40px;
	}

	25% {
		width: 70px;
	}

	50% {
		width: 55px;
	}

	100% {
		width: 70px;
	}
}

@keyframes action2 {
	0% {
		width: 40px;
	}

	25% {
		width: 80px;
	}

	50% {
		width: 65px;
	}

	100% {
		width: 80px;
	}
}

/* 메뉴 버튼 클릭 시 나타나는 모달 */
#menu-modal {
	width: 350px;
	height: 100%;
	background: #000;
	position: fixed;
	right: -350px;
	top: 0px;
	z-index: 100;
	transition: 0.5s;
	box-shadow: 0px 0px 30px rgb(69, 69, 69);
}

#close-modal {
	width: 90%;
	margin: 50px auto;
	display: flex;
	justify-content: center;
	color: #fff;
	font-size: 30px;
	align-items: center;
	border-radius: 25px;
	padding: 10px 0px;
	box-sizing: border-box;
	cursor: pointer;
}

#close-modal h3 {
	margin-top: 5px;
}

#close-modal span {
	font-size: 40px;
	transition: 0.5s;
}

#close-modal:hover span {
	transform: rotate(180deg);
}

#menu-modal .menu-modal-nav {
	width: 90%;
	margin: 0px auto;
}

#menu-modal .menu-modal-nav h3 {
	text-align: center;
	color: #fff;
	font-size: 50px;
}

#menu-modal .menu-modal-nav ul {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	text-align: center;
	margin-top: 50px;
}

#menu-modal .menu-modal-nav ul li {
	width: 100%;
	height: 100px;
	line-height: 100px;
	font-size: 40px;
}

#menu-modal .menu-modal-nav ul li a:hover {
	text-decoration: underline;
}

.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* 여기서 부터 비쥬얼임 */
#visual {
	width: 100%;
	height: 750px;
	border-radius: 25px 25px 0px 0px;
	background-size: cover;
	background-position: left top;
	position: relative;
	z-index: 1;
	transition: 0.5s;
}

/* 트레일러 영상종료버튼 */
#videoContainer {
	width: 1420px;
	height: 850px;
}

#videoContainer .closevideo {
	width: 200px;
	display: flex;
	justify-content: center;
	color: #fff;
	font-size: 30px;
	align-items: center;
	border-radius: 15px;
	padding: 10px 0px;
	box-sizing: border-box;
	cursor: pointer;
	background: #000;
}

#videoContainer h3 {
	font-size: 28px;
}

#videoContainer span {
	font-size: 40px;
	transition: 0.5s;
}

#videoContainer .closevideo:hover span {
	transform: rotate(180deg);
}

#videoContainer ul {
	width: 100%;
	position: relative;
}

#videoContainer ul li {
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
}

/* 비쥬얼 내부에 있는 내용들임 */
#visual .content {
	position: absolute;
	right: 40px;
	bottom: 40px;
	display: flex;
	justify-content: space-between;
	width: 900px;
	align-items: center;
}

/* 비쥬얼 내부 영화소개 부분임 */
#visual .content .intro {
	width: 480px;
	height: 450px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

/* 비쥬얼 내부 영화소개중 영화 제목부분임 */
#visual .content .intro .title {
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	color: #fff;
}

#visual .content .intro .movie-content {
	text-align: right;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
}

/* 비쥬얼 내부 영화소개 부분중 트레일러 보기 버튼임 */
#visual .content .intro .traller-btn {
	width: 300px;
	height: 60px;
	margin: 0px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background: red;
	border-radius: 100px;
	cursor: pointer;
}

#visual .content .intro .traller-btn .play-icon {
	width: 22px;
	height: 22px;
	margin-right: 20px;
}

#visual .content .intro .traller-btn .play-icon img {
	display: block;
	width: 100%;
	height: 100%;
}

#visual .content .intro .traller-btn p {
	font-size: 22px;
	font-weight: bold;
	font-family: "Luckiest Guy", cursive;
	font-weight: 100;
	font-style: normal;
	color: #fff;
	text-align: center;
}

#visual .content .intro .traller-btn .btn-content {
	width: 160px;
	height: 15px;
}

/* 비쥬얼 내부 영화소개 부분 포스터영역임 */
#visual .content .poster {
	width: 400px;
	height: 550px;
}

#visual .content .poster > img {
	width: 400px;
	height: 550px;
	display: block;
	border-radius: 25px;
	box-shadow: 0px 0px 10px rgba(97, 1, 1, 0.328);
	transition: 0.5s;
}

/* 영화 트레일러 */

#videoContainer {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -45%);
	z-index: 100;
}

/* 블랙커버부분 */
#black-cover {
	width: 100%;
	height: 100%;
	border-radius: 25px 25px 0px 0px;
	background: rgba(0, 0, 0, 0.5);
}

/* 카테고리 부분임 */
#category {
	width: 1340px;
	height: 66px;
	margin: 60px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

#category nav {
	width: 300px;
}

#category nav ul {
	width: 100%;
	display: flex;
	justify-content: space-around;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
}

#category nav ul li {
	width: 16.65%;
	transition: 0.25s;
	display: block;
	cursor: pointer;
	text-align: center;
}

#category nav ul li:hover {
	color: rgb(128, 4, 4);
}

#category .search {
	width: 400px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#category .search input {
	background: none;
	outline: none;
	border: none;
	color: #fff;
	font-size: 18px;
	width: 85%;
}

#category .search input::placeholder {
	font-size: 18px;
	color: #828282;
}

#search-option {
	font-size: 20px;
	width: 100px;
	margin-right: 30px;
	background: none;
	color: #fff;
	outline: none;
	border: none;
}

#category .search .search-icon {
	width: 30px;
	height: 30px;
}

#category .search .search-icon img {
	width: 100%;
	height: 100%;
	display: block;
	cursor: pointer;
}

/* 카테고리 밑에 있는 줄 부분 */

#category .red-line {
	width: 100%;
	height: 5px;
	position: absolute;
	background: #c4c4c4;
	left: 0px;
	bottom: 0px;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#category .red-line ul {
	width: 300px;
	height: 5px;
	display: flex;
	justify-content: space-between;
}

#category .red-line ul li {
	width: 16.65%;
	height: 5px;
	border-radius: 10px;
	transition: 0.5s;
}

#category .red-line ul li.on {
	background: red;
}

#category .red-line .search-line {
	width: 420px;
	height: 5px;
	border-radius: 10px;
	position: relative;
}

#category .red-line .search-line .red-line {
	background: red;
	transition: 0.5s;
	width: 0px;
	position: absolute;
	left: 0px;
	top: 0px;
}

#category .red-line .search-line.on .red-line {
	width: 420px;
	background: red;
}

/* 여기서부터 영화 포스터 배열임 */
#movie-array {
	width: 1340px;
	margin: 0px auto;
}

#movie-array ul {
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

#movie-array ul li {
	width: 320px;
	margin-right: 20px;
	box-sizing: border-box;
	margin-bottom: 20px;
	border-radius: 25px;
	cursor: pointer;
}

#movie-array ul li:nth-of-type(4) {
	margin-right: 0px;
}

#movie-array ul li:nth-of-type(8) {
	margin-right: 0px;
}

#movie-array ul li .movie-poster {
	width: 320px;
	height: 450px;
	border-radius: 25px;
}

#movie-array ul li .movie-poster img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 25px;
}

#movie-array ul li .title {
	width: 100%;
	height: 60px;
	margin-top: 20px;
	text-align: center;
	color: #fff;
	font-size: 22px;
	font-weight: bold;
}

/* 여기서부터 영화 모달임 */
#movie-modal {
	width: 1420px;
	height: 800px;
	background: #fff;
	position: fixed;
	left: 50%;
	top: -800px;
	transform: translateX(-50%);
	z-index: 100;
	padding: 50px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	border-radius: 0px 0px 25px 25px;
	transition: 0.5s;
}

#movie-modal > .movie-poster {
	width: 35%;
	height: 100%;
}

#movie-modal > .movie-poster img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 25px;
}

#movie-modal .title {
	width: 60%;
	padding: 30px 0px;
	box-sizing: border-box;
}

#movie-modal .title p:nth-of-type(1) {
	font-size: 28px;
	margin-bottom: 40px;
	font-weight: bold;
}

#movie-modal .title p:nth-of-type(2) {
	font-size: 22px;
	margin-bottom: 40px;
}

#movie-modal .title p:nth-of-type(3) {
	font-size: 18px;
	margin-bottom: 40px;
}

#movie-modal .title p:nth-of-type(4) {
	font-size: 18px;
}

#movie-modal .movie-modal-close {
	display: flex;
	justify-content: space-around;
	position: absolute;
	right: 50px;
	bottom: 50px;
	border-radius: 25px;
	align-items: center;
	cursor: pointer;
	outline: none;
	background: none;
	border: 0px;
}
#movie-modal .movie-modal-close h3 {
	font-size: 28px;
}

#movie-modal .movie-modal-close span {
	transition: 0.5s;
	font-size: 40px;
}

#movie-modal .movie-modal-close:hover span {
	transform: rotate(180deg);
}

/* 언더라인 & show-more */
.footer-line-box {
	width: 1340px;
	height: 60px;
	margin: 20px auto 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-line-box .footer-line {
	width: 1000px;
	height: 5px;
	border-radius: 10px;
	background: #c4c4c4;
}

.footer-line-box .show-more-box {
	width: 340px;
	height: 100%;
	position: relative;
}

.footer-line-box .show-more-box .show-more {
	width: 200px;
	height: 100%;
	background: red;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 100px;
	cursor: pointer;
}

.footer-line-box .show-more-box .show-more p {
	font-size: 22px;
	font-weight: bold;
	font-family: "Luckiest Guy", cursive;
	font-weight: 100;
	font-style: normal;
	color: #fff;
	text-align: center;
	line-height: 60px;
	margin-top: 3px;
}

#sns {
	width: 300px;
	margin: 0px auto;
	margin-bottom: 80px;
}

#sns ul {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-around;
}

#sns ul li {
	width: 50px;
	height: 50px;
	cursor: pointer;
}

#sns ul li img {
	width: 100%;
	height: 100%;
	display: block;
}



/* ==================여기서부터 댓글기능의 스타일임================== */
#gap {
	width: 1420px;
  }
  #comments {
	width: 1340px;
	color: #fff;
	font-size: 18px;
	margin: 0px auto;
	padding: 40px 0px;
	box-sizing: border-box;
  }
  
  .my-comments-box {
	overflow: hidden;
	transition: 0.3s ease-in-out;
  }
  #comments .my-comments-box .my-control {
	display: flex;
	justify-content: space-between;
	padding: 20px 40px;
	box-sizing: border-box;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-bottom: 40px;
	align-items: center;
	background: darkred;
	box-sizing: border-box;
  }
  
  #comments .my-comments {
	width: 80%;
  }
  #comments .my-comments-box .my-info {
	display: flex;
	align-items: center;
	font-size: 22px;
  }
  #comments .my-comments-box .my-info p:first-child {
	font-size: 22px;
	line-height: 25px;
  }
  
  #comments .my-comments-box .my-info .comments-grade {
	width: 160px;
	height: 25px;
	position: relative;
	margin-left: 20px;
  }
  #comments .my-comments-box .my-info .point {
	width: 50px;
	font-size: 22px;
	line-height: 25px;
  }
  #comments .my-comments-box .my-info p:last-child {
	margin-left: 20px;
  }
  #comments .my-comments-box .comments-grade > .white-star {
	display: block;
	width: 150px;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
  }
  
  #comments .my-info .comments-grade > .red-star-show-box {
	width: 0px;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
  }
  #comments .my-info .comments-grade > .red-star-show-box .red-star {
	display: block;
	width: 150px;
	height: 100%;
  }
  
  .my-comments-content {
	margin: 20px 0px;
	padding: 0px 10px;
	box-sizing: border-box;
	text-align: justify;
  }
  .my-comments-content p {
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 1px;
  }
  .my-comments-good {
	display: flex;
	align-items: center;
  }
  .my-comments-good span {
	margin-right: 10px;
  }
  .my-comments-good p {
	line-height: 24px;
  }
  
  .my-comments-edit-btn {
	width: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .my-comments-edit-btn > p {
	padding: 0px 20px;
	box-sizing: border-box;
  }
  .my-comments-edit-btn .edit-my-comments-btn {
	display: flex;
	align-items: center;
	cursor: pointer;
  }
  .my-comments-edit-btn .edit-my-comments-btn span {
	margin-right: 10px;
	display: block;
  }
  .my-comments-edit-btn .del-my-comments-btn {
	display: flex;
	align-items: center;
	cursor: pointer;
  }
  .my-comments-edit-btn .del-my-comments-btn > p {
	margin-left: 10px;
  }
  
  #comments-title {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 28px;
	color: #ff0000;
	font-weight: bold;
  }
  #comments-title .comments-show-more > button {
	border: 0px;
	background: none;
	color: #ff0000;
	font-size: 28px;
	font-weight: bold;
	margin-left: 20px;
	cursor: pointer;
  }
  
  #comments-title .comments-total {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
  }
  
  #comments-title .comments-total h3 {
	margin-right: 20px;
  }
  
  #comments-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 40px 0px;
	box-sizing: border-box;
  }
  #comments-list > li {
	border-top: 1px solid #ccc;
	padding: 20px 0px;
	box-sizing: border-box;
  }
  #comments-list > li:last-child {
	border-bottom: 1px solid #ccc;
  }
  
  #comments-list .user-info {
	display: flex;
	align-items: center;
  }
  #comments-list .user-info .user-name {
	font-size: 22px;
  }
  #comments-list .user-info > p:last-child {
	font-size: 22px;
	line-height: 25px;
	margin-left: 20px;
  }
  
  #comments-list .comments-content {
	margin: 20px 0px;
	padding: 0px 10px;
	box-sizing: border-box;
	text-align: justify;
  }
  #comments-list .comments-content p {
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 1px;
  }
  #comments-list .user-info .comments-grade {
	width: 160px;
	height: 25px;
	margin-left: 20px;
	position: relative;
  }
  
  #comments-list .user-info .comments-grade > .white-star {
	display: block;
	width: 150px;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
  }
  
  #comments-list .user-info .comments-grade > .red-star-show-box {
	width: 0px;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
  }
  #comments-list .user-info .comments-grade > .red-star-show-box .red-star {
	display: block;
	width: 150px;
	height: 100%;
  }
  
  #comments-list .user-info .point {
	width: 50px;
	font-size: 22px;
	line-height: 25px;
  }
  
  #comments-list .comments-good {
	display: flex;
	align-items: center;
	cursor: pointer;
	width: min-content;
  }
  
  #good-plus.on {
	font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
	color: red;
  }
  
  #comments-list .comments-good > span {
	margin-right: 10px;
	font-size: 22px;
  }
  
  /* 여기서부터 댓글 작성 페이지임 */
  #add-comments {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: 0.5s;
	display: none;
	z-index:100;
  }
  #send-comments .comments-movie-title h3 {
	font-size: 28px;
  }
  #send-comments {
	background: #000;
	margin: 0px auto;
	padding: 40px;
	box-sizing: border-box;
	border-radius: 25px;
	animation: boxshadow infinite ease-in-out 2s;
	box-shadow: 0px 0px 10px red;
	position: relative;
  }
  @keyframes boxshadow {
	0% {
	  box-shadow: 0px 0px 0px rgba(255, 0, 0, 0.312);
	}
	50% {
	  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.262);
	}
	100% {
	  box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.312);
	}
  }
  
  #add-comments .send-cancel {
	display: block;
	display: block;
	font-size: 22px;
	color: #fff;
	background: none;
	border: 0px;
	cursor: pointer;
	position: absolute;
	right: 40px;
	top: 40px;
  }
  #add-comments .send-cancel span {
	font-size: 42px;
	display: block;
	cursor: pointer;
	transition: 0.5s;
  }
  #add-comments .send-cancel span:hover {
	transform: rotate(-180deg);
  }
  
  #send-comments .comments-grade {
	width: 160px;
	height: 25px;
	position: relative;
  }
  #send-comments .comments-grade .white-star {
	display: block;
	width: 150px;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	display: block;
  }
  #send-comments .comments-grade .red-star-show-box {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 25px;
	overflow: hidden;
  }
  #send-comments .comments-grade .red-star-show-box .red-star {
	width: 150px;
	height: 25px;
	display: block;
  }
  
  #send-comments .comments-grade-box {
	display: flex;
	align-items: center;
	margin: 20px 0px;
  }
  #send-comments .comments-grade-box .comments-grade span {
	cursor: pointer;
  }
  #send-comments .comments-grade-box p {
	font-size: 18px;
	margin-right: 20px;
	font-size: 22px;
	line-height: 35px;
  }
  
  #send-comments textarea {
	width: 100%;
	height: 200px;
	resize: none;
	background: #000;
	color: #fff;
	border: none;
	overflow: hidden;
	font-size: 18px;
  }
  #send-comments textarea:focus {
	outline: none;
  }
  #send-comments textarea::placeholder {
	font-size: 18px;
  }
  
  #send-comments .comments-form-btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  #send-comments .comments-form-btn .btn-box {
	width: 50px;
	height: 25px;
	position: relative;
  }
  #send-comments-form {
	display: block;
	font-size: 22px;
	color: #fff;
	background: none;
	border: 0px;
	cursor: pointer;
	position: absolute;
	left: 0px;
	top: 0px;
  }
  #send-comments .comments-form-btn .comment-total-text {
	font-size: 18px;
  }
  
  #edit-comments-form {
	display: block;
	font-size: 22px;
	color: #fff;
	background: none;
	border: 0px;
	cursor: pointer;
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
  }
  
  /* ==================여기 까지 댓글기능의 스타일임================== */
